.theme-dark,
.theme-dark-compact {
  --color-black-0: rgba(255, 255, 255, 0.05);
  --color-black-1: rgba(255, 255, 255, 0.15);
  --color-black-2: rgba(255, 255, 255, 0.25);
  --color-black-3: rgba(255, 255, 255, 0.35);
  --color-black-4: rgba(255, 255, 255, 0.45);
  --color-black-5: rgba(255, 255, 255, 0.55);
  --color-black-6: rgba(255, 255, 255, 0.65);
  --color-black-7: rgba(255, 255, 255, 0.75);
  --color-black-8: rgba(255, 255, 255, 0.85);
  --color-black-9: rgba(255, 255, 255, 0.95);
  --color-black: rgba(255, 255, 255, 1);
  --color-white-0: rgba(0, 0, 0, 0.05);
  --color-white-1: rgba(0, 0, 0, 0.15);
  --color-white-2: rgba(0, 0, 0, 0.25);
  --color-white-3: rgba(0, 0, 0, 0.35);
  --color-white-4: rgba(0, 0, 0, 0.45);
  --color-white-5: rgba(0, 0, 0, 0.55);
  --color-white-6: rgba(0, 0, 0, 0.65);
  --color-white-7: rgba(0, 0, 0, 0.75);
  --color-white-8: rgba(0, 0, 0, 0.85);
  --color-white-9: rgba(0, 0, 0, 0.95);
  --color-white: rgba(0, 0, 0, 1);
}
