// 本文件已引入var.less，下面颜色可以做变量使用
// 如果你的项目确定要开启【暗黑模式】，那么所有颜色都应该优先使用变量
:root {
  --color-black-0: rgba(0, 0, 0, 0.05);
  --color-black-1: rgba(0, 0, 0, 0.15);
  --color-black-2: rgba(0, 0, 0, 0.25);
  --color-black-3: rgba(0, 0, 0, 0.35);
  --color-black-4: rgba(0, 0, 0, 0.45);
  --color-black-5: rgba(0, 0, 0, 0.55);
  --color-black-6: rgba(0, 0, 0, 0.65);
  --color-black-7: rgba(0, 0, 0, 0.75);
  --color-black-8: rgba(0, 0, 0, 0.85);
  --color-black-9: rgba(0, 0, 0, 0.95);
  --color-black: rgba(0, 0, 0, 1);
  --color-white-0: rgba(255, 255, 255, 0.05);
  --color-white-1: rgba(255, 255, 255, 0.15);
  --color-white-2: rgba(255, 255, 255, 0.25);
  --color-white-3: rgba(255, 255, 255, 0.35);
  --color-white-4: rgba(255, 255, 255, 0.45);
  --color-white-5: rgba(255, 255, 255, 0.55);
  --color-white-6: rgba(255, 255, 255, 0.65);
  --color-white-7: rgba(255, 255, 255, 0.75);
  --color-white-8: rgba(255, 255, 255, 0.85);
  --color-white-9: rgba(255, 255, 255, 0.95);
  --color-white: rgba(255, 255, 255, 1);
}

@color-black-0: var(--color-black-0);
@color-black-1: var(--color-black-1);
@color-black-2: var(--color-black-2);
@color-black-3: var(--color-black-3);
@color-black-4: var(--color-black-4);
@color-black-5: var(--color-black-5);
@color-black-6: var(--color-black-6);
@color-black-7: var(--color-black-7);
@color-black-8: var(--color-black-8);
@color-black-9: var(--color-black-9);
@color-black: var(--color-black);
@color-white-0: var(--color-white-0);
@color-white-1: var(--color-white-1);
@color-white-2: var(--color-white-2);
@color-white-3: var(--color-white-3);
@color-white-4: var(--color-white-4);
@color-white-5: var(--color-white-5);
@color-white-6: var(--color-white-6);
@color-white-7: var(--color-white-7);
@color-white-8: var(--color-white-8);
@color-white-9: var(--color-white-9);
@color-white: var(--color-white);
// 字体颜色
@color-font-normal: @color-black-6;
@color-font-weak: @color-black-4;
@color-font-strong: @color-black-8;
